@model BlogApp.Entidades.Etiqueta

@{
    ViewBag.Title = "Details";
}

<section class="post">

    <h2>Details</h2>

    <fieldset>
        <legend>Etiqueta</legend>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.Nombre)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Nombre)
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</section>